fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb==0.5.23
pypdf
groq
python-dotenv
rank-bm25
python-docx
aiofiles
numpy
requests